
.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout-background {
  background: #fff;
}

.spin-container {
  display: flex;
  flex: 1;
}

.layout-container {
  flex:1
}

.content-layout {
  display: flex;
  // background: var(--white);
  background: $white;
}